{% extends 'base.html' %}

{% block content %}

<section class="page-header">

    <div>
        {% if user.role == 'student' %}
            <h1>
                {% if students|length > 1 %}
                    Мои группы
                {% else %}
                    Моя группа
                {% endif %}
            </h1>
        {% else %}
            <h1>Студенты</h1>
        {% endif %}
    </div>

    {% if user.role in ('admin', 'teacher') %}
        <a href="/students/add" class="btn">+ Добавить</a>
    {% endif %}
</section>

<section class="students-grid">
    {% for student in students %}
        {% include 'students/card.html' %}
    {% endfor %}
</section>

{% endblock %}